.btn {
    border: none;
    width: 220px;
    height: 40px;
    box-shadow: var(--shadow);
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 4px var(--shadow);
    overflow: hidden;
}

.btn.primary {
    background: var(--primary-1);
    color: black;
}

.btn.secondary {
    background: var(--primary-2);
    color: white;
}

.btn:hover,
.btn:disabled {
    background: var(--highlight-1);
    color: black;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn[disabled="false"]:active {
    box-shadow: none;
}

.btn a {
    display: block;
    height: 100%;
    line-height: 40px;
    color: inherit;
}
