.footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    border-top: 2px solid var(--primary-2);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer img {
    max-width: 64px;
    padding-top: 0.25rem;
}

.footer h4 {
    margin-bottom: 0.5rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer a:hover {
    color: var(--highlight-2);
    text-decoration: underline;
}

.footer a:active {
    color: var(--highlight-1);
}
